body{
  font-size: 18px !important;
  line-height: 1.5 !important;
}
#row-container{
  margin-top:150px;
}
.img-header{
  width:120%;
  border-radius:40px;
}
.align-image{
  writing-mode:vertical-rl;
}
.title-head{
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
.tag-head{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
.head-5{
  padding-top:20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.head-4{
  padding-top:20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.head-3{
  padding-top:50px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}
.head-2{
  padding-top:50px;
  padding-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}
#containerx{
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  max-width: 1200px;
}
#content-container{
  margin-bottom: 0px;
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}
.img-radius{
  width:90%;
  border-radius:40px;
}
.p-head{
  padding-top:80px;
}
#containerx{
  margin-bottom: 110px;
}
.text-big{
  text-align: center;
  font-weight: bold;
  padding-top:50px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
.imgleft{
  overflow: hidden;
  border-radius: 30px;
}
.imgleft img{
  width: 115%;
}
.imgmiddle{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.imgmiddle img{
  border-radius: 20px;
  width: 90%;
}
.pl-0{
  padding-left:0 !important;
}
.why{
  padding-top: 150px;
}
.why img{
  width: 50%;
}
.btn-whatsapp{
  background-color:#ff2d55 !important;
  color:white !important;
  padding:15px !important;
  width: 100%;
  border-radius: 20px !important;
  font-size:25px !important;
}
.btn-whatsapp2{
  border:1px solid #ff2d55 !important;
  color:#ff2d55 !important;
  padding:15px !important;
  width: 50%;
  border-radius: 20px !important;
  font-size:25px !important;
}
.btn-whatsapp3{
  background-color:#ff2d55 !important;
  color:white !important;
  padding:15px !important;
  width: 70% !important;
  border-radius: 20px !important;
  font-size:25px !important;
}
.head-4-p p {
  text-align: justify;
}
.rotateslider-container .arrow{
  height:auto !important;
}
.font-price{
  font-size:24px;
  vertical-align: top;
}
.ic{
  font-size:32px !important;
}
.font-price-grey{
  font-weight: 300 !important;
  font-size:20px;
  color:grey;
}
.font-angka{
  font-size: 72px;
  align-items: baseline;
}
.label-sering{
  background-color: #ff2d55;
  color:white;
  padding:10px;
  border-radius:20px;
  float:right;
}
.ok{
  font-size: 16px !important;
  margin-bottom: 50px;
}
.best{
  font-weight:bold;
  padding: 30px;
  box-shadow: 0 0 20px 0px #c9c9c9;
}
.opsi{
  font-weight:bold;
  padding-left: 60px;
}
#what {
  padding-left: 30px;
}
#what li{
  list-style: initial;
}
@media screen and (min-width: 100px) and (max-width: 991px){
  #containerx{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  #row-container{
    margin-top:50px;
  }
  .title-head{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .tag-head{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .img-header{
    width: 100%;
    border-radius:20px;
  }
  #content-container{
    margin-top: 60px;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  .img-radius{
    width: 100%;
  }
  .head-3{
    padding-top: 10px;
    font-size: 20px;
  }
  .p-head{
    padding-top: 10px;
  }
  .text-big{
    font-size: 18px;
  }
  .imgleft{
    border-radius: 10px;
  }
  .imgleft img{
    width: 135%;
  }
  .imgmiddle img{
    border-radius: 10px;
  }
  .why{
    padding-top: 0px;
  }
  .why img{
    width:100%;
    border-radius: 20px;
  }
  .head-2{
    font-size: 25px;
  }
  .fasilitas li{
    font-size: 12px;
    list-style: outside;
  }
  .fasilitas li img{
    display:none;
  }
  .opsi{
    padding-left:15px;
  }
}